node_modules
.pnpm-store

.svelte-kit
build
dist
.output

.vercel
.netlify
.wrangler

.env
.env.*
!.env.example
!.env.test

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.swp
*.swo

repomix-output.*
